# Example environment variables
# Replace with your actual Resend API key
VITE_RESEND_API_KEY=

# Brandfetch API key
VITE_BRANDFETCH_KEY=your_key_here

# Default "from" email address for outgoing emails
VITE_DEFAULT_FROM_EMAIL="Leadya <contact@leadya.fr>"